body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 42px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.top_banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    margin-left: 5%;
}
.half-width img{
    width: 70%;
}
.hire_btn{
    padding: 10px 40px;
    background-image:linear-gradient(orange, tomato);
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}