body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 42px;
}
.orange-color{
    color: orange;
}
.flexible_container{
    display: flex;
}
.top_banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.hire_btn{
    padding: 10px 40px;
    background-image:linear-gradient(orange, tomato);
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}
.resume_btn{
    padding: 10px 40px;
    background-image:linear-gradient(orange, tomato);
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}
.second_part{
    display: flex;
    margin-top: 100px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.second_part img{
    width: 100%;
}
.experiences_area{
    padding-bottom: 50px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
h2{
    font-size: 40px;
}
.experiences_item{
    width: 40%;
    margin-left: 5%;
    margin-right:5% ;
    padding-left: 20px;
    box-shadow:10px 10px 40px gray ;
    background-color: white;
}
#full-wev-dev{
    border-image: linear-gradient( tomato ,salmon);
    border-image-slice: 1;
    border-left: 7px solid;
}
#web_dev{
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    border-left: 7px solid;
}
footer{
    padding-bottom: 20px;
}
footer p{
    text-align: center;
}